{% extends 'layouts/main.html' %}
{% load static %}

{% block content %}

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-xs-6">
            <div class="box">
                <div class="box-header">
                    <br>
                    <div class="input-group input-group-lg" style="width: 500px;">
                        <input type="text" name="table_search" class="form-control pull-right" placeholder="Search">

                        <div class="input-group-btn">
                            <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                        </div>
                        
                    </div>
                    <h2>Work</h2>
                    <h5>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard.</h5>
                </div>
                
                <!-- /.box-header -->
                <div class="box-body table-responsive no-padding">
                    <table class="table table-hover">
                        <tbody>
                            <tr>
                                <!-- <th>Title</th>
                                <th>Status</th> -->
                            </tr>
                            {% for complete in completed %}
                            
                            <tr>
                                <td><a href="{% url 'task_details' complete.id %}"><h4>{{complete.title}}</h4></a><h5>{{complete.created_at | date}}</h5></td>
                                <td><h4><span class="label label-warning"> Completed </span></h4></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
            </div>
        </div>
    </section>
    <!-- /.content -->

{% endblock %}